.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        i.fa.fa-cube
    #myNavbar.collapse.navbar-collapse
       ul.nav.navbar-nav
            li
              a(href='/users') Users
            li.dropdown
              a.dropdown-toggle(data-toggle="dropdown", href='#') Survey
                span.caret
              ul.dropdown-menu
                li
                    a(href="/survey/new") Design
                li
                    a(href="/") Lists
                li
                    a(href="/result") Result
        ul.nav.navbar-nav.navbar-right
           if (currentUser)
                li
                    a(href="/users/#{currentUser._id}")
                        span.glyphicon.glyphicon-user 
                        | &nbsp Profile                        
                li
                    a(href="/signout")
                        span.glyphicon.glyphicon-log-out
                        | &nbsp Logout
            else
                 li
                    a(href="/signin")
                         span.glyphicon.glyphicon-log-in
                         | &nbsp Login
                 li
                     a(href="/users/new")
                         span.glyphicon.glyphicon-ok-circle
                         | &nbsp SignUp
