extends ../layout

block content
    .container
        form.form-inline(class='surveys', action='/survey', method='POST')
          .form
            .main
              input(for='title' type='text', id='title', name='title', placeholder='설문지-제목')
              input(for='content' type='text', id='content', name='content', placeholder='설명')
              hr
              | 
              | 
            .actions#reset
                button.btn.btn-default.btn-lg.btn-block(type='button') 재입력  
            hr
            .submain
                input(class='question' type='text', id='content', name='content', placeholder='질문 제목')
            .form-group(class = 'selectbar')
                select.form-control#selectbar(name='category')
                    option(value="default") 조건을 선택해주세요.
                    option(value='multiple-one') 객관식(단일선택형)
                    option(value='multiple-many') 객관식(복수선택형)
                    option(value='shortText') 단일입력
                    option(value='longText') 의견입력
            .addingSelector
            hr
            .addQuest
            .actions    
                button#plus-quest.btn.btn-success.btn-lg.btn-block(type='button') 문항추가
            .questResult
            .actions
                button#post-survey.btn.btn-primary.btn-lg.btn-block(type='submit') 작성완료

        script.
            $(function() {
                var survey = new SurveyController();    
            });
        script(type='text/javascript', src='/javascripts/survey.js')    
