doctype html
html(lang='ko')
    head
        block title
            title Survey-system
        meta(charset='UTF-8')
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(type='text/javascript', src='/bower_components/jquery/dist/jquery.min.js')
        script(type='text/javascript', src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    
    body
        block top-nav
         include ./includes/topnav
        block hero-unit
            if flashMessages
             each texts, type in flashMessages
               .container
                 .alert(class='alert-#{type}')
                   each msg in texts
                     p= msg           
        block content  
        block footer
         include ./includes/footer
