extends ../layout

block content
  .container
    h1.page-header 회원가입
    form.form-horizontal(role = 'form', action='/users', method='POST')
      .form-group
        label(for='name' class='control-label col-sm-2') Name
        .col-sm-5
            input.form-control(type='text', id='name', name='name', placeholder='Your name')
      .form-group
        label(for='email' class = 'control-label col-sm-2') Email-address
        .col-sm-5
            input.form-control(type='email', id='email', name='email', placeholder='Email')
      .form-group
        label(for='password' class = 'control-label col-sm-2') Password
        .col-sm-5
            input.form-control(type='password', id='password', name='password', placeholder='Password')
      .form-group
        label(for='password_confirmation' class = 'control-label col-sm-2') Password 확인
        .col-sm-5
            input.form-control(type='password', id='password_confirmation', name='password_confirmation', placeholder='Password')
      .form-actions
        .col-sm-4
        a.btn.btn-default(href='javascript:window.history.back();') 뒤로 
        | 
        button.btn.btn-primary(type='submit') 회원가입 
