form.surveys {
  width: 100%;
  margin: 0 0 1em 0;
  padding: 1em;
  background: #BDBEC3;
  .main {
    input[type='text'] {
      font-size: 1.4em;
      padding: 0.5em 1em;
      margin-bottom: 1em;
      width: 100%;
      box-sizing: border-box;
    }
  }
  .question {
      font-size: 1em;
      padding: 0.5em 1em;
      margin-bottom: 1em;
      width: 100%;
      box-sizing: border-box;
  }
  .actions button {
    margin-top: 1em;
    margin-bottom: 3em;
  }
  #plusOpinion{
      margin-left: 4em;
      width: 80%;
  }
  .addQuest  {
      label{
          width: 100%;
      }
      input[type='text']{
          width: 80%;
          margin-left: 3em;
      }
      #shortText{
          width: 80%;
      }
      .addQuest > textarea {
          width: 100%;
          height: 10em;
      }
  }
  .selectExplain {
      margin-left: 3em;
      width: 80%;
  }
  .questResult label {
      width: 100%; }
}
