form.surveys {
  width: 100%;
  margin: 0 0 1em 0;
  padding: 1em;
  background: #acddf2;
  .main {
    input[type='text'] {
      font-size: 1.4em;
      border: 1px solid #2c9cd2;
      padding: 0.5em 1em;
      margin-bottom: 1em;
      width: 100%;
      box-sizing: border-box;
    }
  }
  .submain {
    input[type='text'] {
      font-size: 1em;
      border: 1px solid #2c9cd2;
      padding: 0.5em 1em;
      margin-bottom: 1em;
      width: 100%;
      box-sizing: border-box;
    }
  }
  .actions button {
    margin-top: 1em;
  }
}
