form.surveys {
  width: 100%;
  margin: 0 0 1em 0;
  padding: 1em;
  background: #FDFAC2;
  .main {
    input[type='text'] {
      font-size: 1.4em;
      border: 5px solid #FF7A88;
      padding: 0.5em 1em;
      margin-bottom: 1em;
      width: 100%;
      box-sizing: border-box;
    }
  }
  .submain {
    input[type='text'] {
      font-size: 1em;
      border: 2px solid #FFAB24;
      padding: 0.5em 1em;
      margin-bottom: 1em;
      width: 100%;
      box-sizing: border-box;
    }
  }
  .actions button {
    margin-top: 1em;
  }
  .addQuest label {
      width: 100%;
      input[type='text']{
          width: 80%;
          margin-left: 3em;
      }
  }
  .addQuest > #shortText{
      width: 80%;
  }
  .addQuest > textarea {
      width: 100%;
      height: 10em;
  }
}
